<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LectorQRv2.Properties.Settings.ParqueoConnectionString"
            connectionString="Data Source=DESKTOP-GKO6TEQ\MARDAN;Initial Catalog=Parqueo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LectorQRv2.Properties.Settings.NormanConnection" connectionString="Data Source=NULLPTR\SQLEXPRESS;Initial Catalog=Parqueo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>